<h1>Hey Buddy!</h1>

<h2>Short your url</h2>

<form action="/short/create" method="POST">
    <input type="text" name="url" placeholder="enter your url..." required/>
    <input type="submit" value="Short it!"/>
</form>
<div>
    <%if(hcode){%>
    <h1>hcode is <%= hcode%></h1>
    <%}%>
</div>
<div>
    <form action="/short/<%= hcode%>" method="POST" target="_blank">
        <input id="hcode_input" type="text" name="hcode" placeholder="enter your hcode..." required/>
        <input type="submit"  value="open it"/>
    </form>
        
</div>